<div class="alert alert-info">
    <strong>OBS:</strong>
    Fordi allergier og intoleranser er sensitiv informasjon, vil det logges at du henter ut denne rapporten når du trykker "generer rapport".
</div>