<div class="alert alert-info">
    <strong>OBS:</strong>
    Fordi allergier og intoleranser er sensitiv informasjon, vil det logges at du henter ut denne rapporten n책r du trykker "generer rapport".
</div>

{% if arrangement.harPamelding() %}
    <div class="alert alert-danger">
        <strong>OBS:</strong>
        Utfylling av allergier og intoleranser skjer ved videresending. Personer som er p책meldt ditt arrangement, men ikke har blitt videresendt
        har derfor ikke f책tt muligheten til 책 oppgi denne informasjonen.
    </div>
{% endif %}