<div class="row mt-5">
	<div class="col-xs-12">
		{% embed "preview/list.html.twig" with {id: 'grupper', title: 'Hvordan skal det sorteres?' } %}
			{% block options %}
				{% include "preview/option.html.twig" with {id: 'grupper', val: 'alfabetisk', title: 'Alfabetisk sortert', selected:true} %}
				{% include "preview/option.html.twig" with {id: 'grupper', val: 'innslag', title: 'Gruppert etter type innslag', desc: 'Deretter sortert etter deltaker'} %}
                {% if arrangement.getType() == 'land' %}
				    {% include "preview/option.html.twig" with {id: 'grupper', val: 'fylke', title: 'Gruppert etter fylke', desc: 'Deretter sortert etter deltaker'} %}
                {% endif %}
                {% if arrangement.getType() != 'kommune' %}
				    {% include "preview/option.html.twig" with {id: 'grupper', val: 'kommune', title: 'Gruppert etter kommune', desc: 'Deretter sortert etter deltaker'} %}
                {% endif %}
                
			{% endblock %}

			{% block previews %}
				{% embed "preview/preview.html.twig" with {id: 'alfabetisk'} %}
					{% block content %}
						Person A - Innslag X - ...<br/>
						Person B - Innslag X - ...<br/>
						Person C - Innslag Y - ...<br/>
						Person D - Innslag Y - ...<br/>
						Person E - Innslag Z - ...
					{% endblock %}
				{% endembed %}

				{% embed "preview/preview.html.twig" with {id: 'innslag'} %}
					{% block content %}
						<h4>Innslag X</h4>
						Person A - 	kommune - ...<br/>
						Person B - 	kommune - ...<br/>
						Person C - 	kommune - ...
						<h4>Innslag Y</h4>
                        Person A - 	kommune - ...<br/>
                        Person B - 	kommune - ...<br/>
						Person C - 	kommune - ...
					{% endblock %}
				{% endembed %}

                {% embed "preview/preview.html.twig" with {id: 'fylke'} %}
					{% block content %}
						<h4>Fylke K</h4>
                        Person A - Innslag X - ...<br/>
                        Person B - Innslag X - ...<br/>
                        Person C - Innslag Y - ...<br/>
						<h4>Fylke M</h4>
                        Person D - 	Innslag X - ...<br/>
                        Person E - 	Innslag Y - ...<br/>
						Person F - 	Innslag X - ...
					{% endblock %}
				{% endembed %}

                {% embed "preview/preview.html.twig" with {id: 'kommune'} %}
					{% block content %}
						<h4>Kommune K</h4>
                        Person A - Innslag X - ...<br/>
                        Person B - Innslag X - ...<br/>
                        Person C - Innslag Y - ...<br/>
						<h4>Kommune M</h4>
                        Person D - 	Innslag X - ...<br/>
                        Person E - 	Innslag Y - ...<br/>
						Person F - 	Innslag X - ...
					{% endblock %}
				{% endembed %}

			{% endblock %}
		{% endembed %}
	</div>

</div>

