.list-group-item input[type="checkbox"] {
    margin-top: -0.2em;
    margin-right: 0.5em;
}

li.list-group-item {
    padding-top: 0.7em;
    padding-bottom: 0.4em;
    padding-left: 1.1em;
}

.question label {
    margin-top: 0.5em;
}

.question {
    margin-bottom: 1em;
}

.caps {
    text-transform: uppercase;
}

.mt-4 {
    margin-top: 1.5em;
}

li.list-group-item.list-group-title {
    background: #0073aa;
    color: #fff;
}

.previewList {
    display: flex;
    flex-direction: row;
    width: 100%;
    clear: both;
}

.previewList ol {
    width: 40%;
}

.preview-list-element>.content {
    min-height: 3em;
    margin: -10px -15px;
    display: flex;
    flex-direction: row;
}

.preview-list-element>.content>.radioContainer {
    width: 3em;
    vertical-align: center;
    height: 100%;
}

.preview-list-element>.content>div:not(.radioContainer) {
    margin: 10px 15px;
}

.radioContainer input {
    margin: 1em;
    padding: 0;
}

.previewList .preview {
    width: 60%;
    background: #fff;
    border: 1px solid #ddd;
    padding: 1em 1em 1em 2em;
    vertical-align: top;
    opacity: .75;
}

.previewList .preview h3:first-child {
    margin-top: 0;
}

.previewList .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
}

.previewList .list-group .list-group-item:last-child {
    border-bottom-right-radius: 0;
}

.previewList .list-group .list-group-item.selected {
    background: #0073aa;
    color: #fff;
}

.description {
    font-size: .88em;
}

label {
    font-weight: normal;
}

.table.table-borderless td,
.table.table-borderless th {
    border: none;
}

.dashicons.dashicons-inline {
    padding-top: .05em;
    margin-right: -0.1em;
    font-size: 1.2em;
}

.dashicons-inline.dashicons-email {
    padding-top: .05em;
    font-size: 1.3em;
}

a>.dashicons.dashicons-inline,
a>.dashicons.dashicons-inline:hover {
    text-decoration: none;
}


/*
For å kunne bruke lik bredde på tabell i tabell-celle
som hos moder-tabellen, blir padding satt til 0 både høyre og venstre i cella.
Elementer i cella som ikke er tabell, må denne få en padding-fix
*/

.rapport-padding-fix {
    padding-left: .4em;
    padding-right: .4em;
}

td.internalHeader {
    font-size: .85em;
    font-weight: 500;
    color: #999999 !important;
    padding-bottom: 0 !important;
}


/* 
Css til siden man velger hva salgs rapport man vil generer 
*/

	
.rapport-knapper-ikoner {
    float: left !important;
    font-size: 4rem !important;
    margin-left: -1rem !important;
    color: #418bca !important;
}

.rapport-knapper-innhold {
    margin-left: 4.5rem;
    word-break: break-word;
}
.rapport-knapper-innhold p {
    margin: 0;
    color: #5b5b5b !important;
}
