{% if not config.vis('kommune') and not config.vis('start') and not config.vis('sted') and not config.vis('paameldte') %}
	<span>Ingen kolonner ble valgt!</span>
{% else %}
	{% set colspan = 1 %}
	<table class="table table-striped">
		<tr>
			{% if config.vis('kommune') %}
				<th>Kommune</th>
			{% endif %}

			{% if config.vis('start') %}
				<th style="text-align:right;">Starter</th>
			{% endif %}

			{% if config.vis('ferdig') %}
				<th style="text-align:right;">Ferdig</th>
			{% endif %}

			{% if config.vis('sted') %}
				<th>Sted</th>
			{% endif %}

			{% if config.vis('paameldte') %}
				<th>Påmeldte personer</th>
			{% endif %}
		</tr>
		{# prevent visiting the same arrangement twice #}
		{% set arrangementer_visited = [] %}
		{% set totalAntall = 0 %}
		{% if config.get('sortering') != 'start_dato' %}
			{% for kommune in kommuner %}
				{% for arrangement in kommune['arrangementer'] %}
				{% if arrangement.getId() not in arrangementer_visited %}
					{% set arrangementer_visited = arrangementer_visited|merge([arrangement.getId()]) %}

					{% if config.vis('kunn_kommende_arrangement') %}
						{% if arrangement.start > tidNaa %}
							{% include "Arrangementifylke/arrangement.html.twig" with {'arrangement': arrangement, 'kommuner': arrangement.getKommuner().getAll(), 'config': config} %}

							{% if config.vis('paameldte') and arrangement.getSesong() > 2019 %}
								{% set totalAntall = totalAntall + arrangement.getInnslag().getAntallPersonerSimple() %}
							{% endif %}
							
						{% endif %}
					{% else %}
						{% if (config.vis('vis_kommende') and arrangement.start > tidNaa) or config.vis("vis_sessong#{arrangement.getSesong()}") %}
							{% include "Arrangementifylke/arrangement.html.twig" with {'arrangement': arrangement, 'kommuner': arrangement.getKommuner().getAll(), 'config': config} %}
							
							{% if config.vis('paameldte') and arrangement.getSesong() > 2019 %}
								{% set totalAntall = totalAntall + arrangement.getInnslag().getAntallPersonerSimple() %}
							{% endif %}

						{% endif %}
					{% endif %}
				
				{% endif %}

				{% endfor %}
			{% endfor %}
		{% else %}
			{% for arrangement in arrangementer %}
				{% if arrangement.getId() not in arrangementer_visited %}
					{% set arrangementer_visited = arrangementer_visited|merge([arrangement.getId()]) %}
				
					{% if config.vis('kunn_kommende_arrangement') %}
						{% if arrangement.start > tidNaa %}
							{% include "Arrangementifylke/arrangement.html.twig" with {'arrangement': arrangement, 'kommuner': arrangement.getKommuner().getAll(), 'config': config} %}

							{% if config.vis('paameldte') and arrangement.getSesong() > 2019 %}
								{% set totalAntall = totalAntall + arrangement.getInnslag().getAntallPersonerSimple() %}
							{% endif %}
						{% endif %}
					{% else %}
						{% if (config.vis('vis_kommende') and arrangement.start > tidNaa) or config.vis("vis_sessong#{arrangement.getSesong()}") %}
							{% include "Arrangementifylke/arrangement.html.twig" with {'arrangement': arrangement, 'kommuner': arrangement.getKommuner().getAll(), 'config': config} %}

							{% if config.vis('paameldte') and arrangement.getSesong() > 2019 %}
								{% set totalAntall = totalAntall + arrangement.getInnslag().getAntallPersonerSimple() %}
							{% endif %}
						{% endif %}
					{% endif %}

					
				{% endif %}

				

			{% endfor %}
		{% endif %}
		{% if config.vis('paameldte')%}
			<td style="text-align:right;margin-right: 5px;" colspan="100%">Antall: {{ totalAntall }}</td>
		{% endif %}
		
	</table>
	{% if config.vis('paameldte')%}
		<span class="text-muted small">Antall viser ikke deltakere før 2020</span>
	{% endif %}

{#
	<h3 id="utenArrTitle" class="mt-5 kommuner-uten-skjul-om-null">Kommuner uten arrangementer</h3>
	<table class="table table-striped kommuner-uten-skjul-om-null">
		<thead>
			<tr>
				<th>Kommune</th>
				<th>Fylke</th>
			</tr>
		</thead>
		{% set utenArrangmenet = false %}
		{% for kommune in kommuner %}
			{% if kommune['arrangementer']|length < 1 %}
				{% set utenArrangmenet = true %}
				<tr>
					<td>{{ kommune['kommune'] }}</td>
					<td>{{ kommune['kommune'].getFylke().getNavn() }}</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>

	{% if utenArrangmenet == false %}
		<script>
			jQuery('.kommuner-uten-skjul-om-null').detach()
		</script>
	{% endif %}
#}
{% endif %}
