<div class="row">
	
	<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		{% embed "toggle.html.twig" with {id: 'vis_kunn_kommende_arrangement', title: 'Vis kun kommende arrangement', start: 'yes' } %}
			{% block no %}
				{% include "checkbox.html.twig" with {id: 'vis_kommende', title: 'Kommende'} %}
				{% for sessong in rapport.getSessongArr(2019) %}
					{% include "checkbox.html.twig" with {id: 'vis_sessong'~ sessong, title: sessong} %}
				{% endfor %}
			{% endblock %}
		{% endembed %}
	</div>
	
	<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<ol class="list-group">
			<li class="list-group-item list-group-title">
				<h4>Velg kolonner</h4>
			</li>
			{% include "checkbox.html.twig" with {id: 'kommune', title: 'Kommune'} %}
			{% include "checkbox.html.twig" with {id: 'start', title: 'Start'} %}
			{% include "checkbox.html.twig" with {id: 'ferdig', title: 'Ferdig'} %}
			{% include "checkbox.html.twig" with {id: 'sted', title: 'Sted'} %}
			{% include "checkbox.html.twig" with {id: 'paameldte', title: 'Påmeldte personer'} %}
		</ol>
	</div>

	{% for fylke in rapport.getOmrader() %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			{% embed "toggle.html.twig" with {id: 'vis_valgte_kommuner_i_'~fylke.getId(), title: 'Vis alle kommuner i '~ fylke.getNavn(), start: 'yes' } %}
				{% block no %}
					{% for kommune in fylke.getKommuner().getAll() %}
						{% include "checkbox.html.twig" with {id: 'kommune_'~ kommune.getId(), title: kommune.getNavn()} %}
					{% endfor %}
				{% endblock %}
			{% endembed %}
		</div>
	{% endfor %}

</div>

<div class="row mt-5">
	<div class="col-xs-12">
		{% embed "preview/list.html.twig" with {id: 'sortering', title: 'Hvordan skal det sorteres?' } %}
			{% block options %}
				{% include "preview/option.html.twig" with {id: 'sortering', val: 'alfabetisk', title: 'Alfabetisk sortert'} %}
				{% include "preview/option.html.twig" with {id: 'sortering', val: 'start_dato', title: 'Sorter arrangement etter startdato', selected:true} %}
				{% include "preview/option.html.twig" with {id: 'sortering', val: 'dato_innad_kommune', title: 'Sortert på dato, innad i kommunen'} %}
			{% endblock %}

			{% block previews %}
				{% embed "preview/preview.html.twig" with {id: 'alfabetisk'} %}
					{% block content %}
						Kommune A<br/>
						Kommune B<br/>
						Kommune C<br/>
						Kommune D<br/>
						Kommune E<br/>
						Kommune F
					{% endblock %}
				{% endembed %}

				{% embed "preview/preview.html.twig" with {id: 'start_dato'} %}
					{% block content %}
						Arrangement   -  <b>10. feb 2020</b><br/>
						Arrangement   -  <b>11. feb 2021</b><br/>
						Arrangement   -  <b>12. feb 2021</b><br/>
						Arrangement   -  <b>13. feb 2022</b><br/>
						Arrangement   -  <b>14. feb 2022</b>
					{% endblock %}
				{% endembed %}

				{% embed "preview/preview.html.twig" with {id: 'dato_innad_kommune'} %}
					{% block content %}
						Kommune A:<br>
						&nbsp;&nbsp;&nbsp;Arrangement   -  <b>10. feb 2020</b><br/>
						&nbsp;&nbsp;&nbsp;Arrangement   -  <b>11. feb 2021</b><br/>
						&nbsp;&nbsp;&nbsp;Arrangement   -  <b>12. feb 2022</b><br/>
						Kommune B:<br>
						&nbsp;&nbsp;&nbsp;Arrangement   -  <b>13. feb 2020</b><br/>
						&nbsp;&nbsp;&nbsp;Arrangement   -  <b>14. feb 2021</b>
					{% endblock %}
				{% endembed %}

			{% endblock %}
		{% endembed %}
	</div>
</div>