<div class="row">
    <div class="col-12 col-sm-12">
        <h3>Dette er alle innslag-rapporten</h3>

        <p>Nå mangler det å implementere config-read på fornuftig vis, samt at twigJS støtter mapper (sånn at hver rapport har sin egen undermappe i twigJS.</p>
        <p>CONFIG: er beste måte å lage en JS-klasse som itererer over konfig og lager et spørbart objekt som kan brukes i twigJS? Støtter twigJS objekter?</p>
        <p>Det må også være en scroll-top når rapporter osv genereres</p>

        <ul>
            {% for key, value in config %}
                <li><b>{{ key }}: </b>{{value}}</li>
            {% endfor %}
        </ul>
    </div>
</div>