<h2>Lokalkontakter</h2>

{% set colspan = 1 %}
<table class="table table-striped">
	<tr>
		<th>Kommune / bydel</th>
		<th>Kontaktperson</th>
		{% if config.vis('mobil') %}
			<th>Mobilnummer</th>
			{% set colspan = colspan + 1 %}
		{% endif %}
		{% if config.vis('epost') %}
			<th>E-post</th>
			{% set colspan = colspan + 1 %}
		{% endif %}
	</tr>

	{% for kommune in rapport.getRenderData().getGrupper() %}
		{% for admin in kommune.getCustomItems() %}
			<tr>
				<td>{{admin.getKommune().getNavn() }}</td>
				<td>{{admin.getNavn()}}</td>
				{% if config.vis('mobil') %}
					<td>
						{% include "Components/mobil.html.twig" with {mobil: admin.getMobil()} %}
					</td>
				{% endif %}
				{% if config.vis('epost') %}
					<td>
						{% include "Components/epost.html.twig" with {epost: admin.getEpost(), expand: true } %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	{% endfor %}
</table>


<h3 class="mt-5">Kommuner / bydeler uten registrerte administratorer</h3>
<table class="table table-striped">
	{% for kommune in rapport.getRenderData().getGrupper()|filter(kommune => not kommune.harCustomItems()) %}
		<tr>
			<th>{{kommune.getOverskrift()}}</th>
		</tr>
	{% else %}
		<tr>
			<th>Alle kommuner har registrert minst én administrator</th>
		</tr>
	{% endfor %}
</table>
