<div class="row">
	<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<ol class="list-group">
			<li class="list-group-item list-group-title">
				<h4>Velg kontaktinformasjon</h4>
			</li>
			{% include "checkbox.html.twig" with {id: 'mobil', title: 'Mobilnummer'} %}
			{% include "checkbox.html.twig" with {id: 'epost', title: 'E-post'} %}
		</ol>
	</div>

	{% for omrade in rapport.getOmrader() %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			{% embed "toggle.html.twig" with {id: 'vis_valgte_kommuner_i_'~omrade.getFylke().getId(), title: 'Vis alle kommuner i '~ omrade.getFylke().getNavn(), start: 'yes' } %}
				{% block no %}
					{% for kommune in omrade.getFylke().getKommuner().getAll() %}
						{% include "checkbox.html.twig" with {id: 'kommune_'~ kommune.getId(), title: kommune.getNavn()} %}
					{% endfor %}
				{% endblock %}
			{% endembed %}
		</div>
	{% endfor %}
</div>
