<li class="list-group-item">
    {% if label is defined %}
        <div class="pull-right float-right label label-info small">{{ label }}</div>
    {% endif %}
    <label>
        <input type="checkbox" class="form-group" name="vis_{{ id }}" id="vis_{{ id }}" value="true"/>
        {{ title }}
    </label>
    <div class="clearfix"></div>
</li>
