<span>{{ epost }}</span>
<a href="mailto:{{epost}}" title="{{epost}}">
	<span style="white-space: nowrap;">
		<span class="dashicons dashicons-email dashicons-inline"></span>
		{{ expand is defined and expand ? epost : 'epost' }}
	</span>
</a>
