<a href="#" class="UKMSMS" data-to="{{mobil}}" data-navn="{{navn}}">
	<span style="white-space: nowrap;">
		<span class="dashicons dashicons-smartphone dashicons-inline"></span>
		{{ mobil }}
	</span>
</a>
