<div class="row">
    <div class="col-12 col-sm-12">
        {% if config.show('deltakere_epost') %}
            <div class="alert alert-warning">
                De færreste deltakere har registrert e-post, 
                da dette kun er et felt vi etterspør hos kontaktpersoner. 
                I listen nedenfor viser vi e-postikonet for alle som har oppgitt en e-postadresse.
            </div>
        {% endif %}
        {% if renderData.harGrupper() %}
            {% for gruppe in renderData.getGrupper() %}
                {% if gruppe.visOverskrift() %}
                    <h2>{{gruppe.getOverskrift()}}</h2>
                {% endif %}

                {% if gruppe.harInnslag() %}
                    {% for innslag in gruppe.getInnslag() %}
                        {% include rapport.getId()~"/innslag.html.twig" with {innslag:innslag} %}
                    {% endfor %}
                {% elseif gruppe.harPersoner() %}
                    {% for person in gruppe.getPersoner() %}
                        {% include rapport.getId()~"/person.html.twig" with {person:person} %}
                    {% endfor %}
                {% elseif gruppe.harGrupper() %}
                    {% for undergruppe in gruppe.getGrupper() %}
                        {% if undergruppe.visOverskrift() %}
                            <h3>{{ undergruppe.getOverskrift() }}</h3>
                        {% endif %}
                        {% if undergruppe.harInnslag() %}
                            {% for innslag in undergruppe.getInnslag() %}
                                {% include rapport.getId()~"/innslag.html.twig" with {innslag:innslag} %}
                            {% endfor %}
                        {% elseif undergruppe.harPersoner() %}
                            {% for person in undergruppe.getPersoner() %}
                                {% include rapport.getId()~"/person.html.twig" with {person:person} %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="list-group-item" style="page-break-inside: avoid;">
                        Ingen innslag i {{ gruppe.getOverskrift() }}
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if renderData.visOverskrift() %}
                    <h2>{{renderData.getOverskrift()}}</h2>
            {% endif %}
            {% if renderData.harInnslag() %}
                {% for innslag in renderData.getInnslag() %}
                    {% include rapport.getId()~"/innslag.html.twig" with {innslag:innslag} %}
                {% endfor %}
            {% elseif renderData.harPersoner() %}
                {% for person in renderData.getPersoner() %}
                    {% include rapport.getId()~"/person.html.twig" with {person:person} %}
                {% endfor %}
            {% elseif kreverHendelse %}
                <div class="alert alert-danger">
                    Denne rapporten krever at du velger en hendelse.
                    <button type="button" class="btn btn-default btn-xs showCustomizer">tilbake</button>
                </div>
            {% endif %}
        {% endif %}
    </div> 
</div>
