<div class="row">
    <div class="col-12 col-sm-12">
        {% if renderData.harGrupper() %}
            {% for gruppe in renderData.getGrupper() %}
                {% if gruppe.visOverskrift() %}
                    <h2>{{gruppe.getOverskrift()}}</h2>
                {% endif %}

                {% if gruppe.harInnslag() %}
                    {% for innslag in gruppe.getInnslag() %}
                        {% include rapport.getId()~"/innslag.html.twig" with {innslag:innslag} %}
                    {% endfor %}
                {% elseif gruppe.harGrupper() %}
                    {% for undergruppe in gruppe.getGrupper() %}
                        {% if undergruppe.visOverskrift() %}
                            <h3>{{ undergruppe.getOverskrift() }}</h3>
                        {% endif %}
                        {% if undergruppe.harInnslag() %}
                            {% for innslag in undergruppe.getInnslag() %}
                                {% include rapport.getId()~"/innslag.html.twig" with {innslag:innslag} %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="list-group-item" style="page-break-inside: avoid;">
                        Ingen innslag i {{ gruppe.getOverskrift() }}
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if renderData.harInnslag() %}
                {% for innslag in renderData.getInnslag() %}
                    {% include rapport.getId()~"/innslag.html.twig" with {innslag:innslag} %}
                {% endfor %}
            {% elseif kreverHendelse %}
                <div class="alert alert-danger">
                    Denne rapporten krever at du velger en hendelse.
                    <button type="button" class="btn btn-default btn-xs showCustomizer">tilbake</button>
                </div>
            {% endif %}
        {% endif %}
    </div> 
</div>
