<div class="row">
    <div class="col-xs-6">
        <h5>{{ title_1 }}</h5>
        <br /><br /><br /><br />
    </div>
    <div class="col-xs-6">
        <h5>{{ title_2}}</h5>
        <br /><br /><br /><br />
    </div>
</div>