<h1>Uregistrerte mønstringer per fylke</h1>

{% for fylke in fylker %}
	<h2>{{ fylke.getNavn() }} <small>{{ fylke.monstringer_uregistrerte|length }} uregistrerte mønstringer</h2>
    <p>
        {% for monstring in monstringer_uregistrert %}
            {{ monstring.getNavn() }}{{ not loop.last ? '<br /> ':'' }}
        {% endfor %}
    </p>
{% endfor %}