<h1>Mønstringer i {{ fylke.getNavn() }} {{ fylke.getAttr('sesong') }}</h1>

<ol>
{% for monstring in fylke.getAttr('monstringer') %}
	<li>{{ monstring.getNavn() }}</li>
{% endfor %}
</ol>

<div class="clearfix"></div>
<a href="?page=UKMrapport_admin&network=monstringer_per_fylke">tilbake til oversikten</a>