<ol class="list-group">
	<li class="list-group-item list-group-title">
		<h4>Om innslaget</h4>
	</li>

	{% include "checkbox.html.twig" with {id: 'kategori_og_sjanger', title: 'Kategori og sjanger'} %}
	{% include "checkbox.html.twig" with {id: 'varighet', title: 'Varighet'} %}
	{% include "checkbox.html.twig" with {id: 'fylke', title: 'Fylke'} %}
	{% include "checkbox.html.twig" with {id: 'kommune', title: 'Kommune'} %}
	{% include "checkbox.html.twig" with {id: 'beskrivelse', title: 'Beskrivelse'} %}
	{% include "checkbox.html.twig" with {id: 'tekniske_behov', title: 'Tekniske behov'} %}
	{% include "checkbox.html.twig" with {id: 'mediefiler', title: 'Mediefiler'} %}
	{% include "checkbox.html.twig" with {id: 'bilder', title: 'Bilder'} %}
	{% include "checkbox.html.twig" with {id: 'ukmtv', title: 'Filmer fra UKM-TV', label: 'Kun tilgjengelig på skjerm'} %}
</ol>
