<h2>Statistikk for {{monstring.name}} <small>Detaljer: sjangerfordeling</small></h2>

{% embed "style.twig.html" %}{% endembed %}
{% embed "script.twig.html" %}{% endembed %}
{% embed "nav.twig.html" %}{% endembed %}

{% for kommune in statistikk %}
	{% embed "separator.twig.html" %}{% endembed %}
	
	<div class="container col-xs-12">
		<h3>Personer</h3>
		<div class="well">
			<h4>Antall personer per sjanger</h4>
			<table class="table table-striped" style="max-width: 400px">
				{% embed "details_sjangerfordeling_tableheader.twig.html" %}{% endembed %}
				{% for ar, data in kommune.sjangerfordeling %}
					{% embed "details_sjangerfordeling_tablerow.twig.html" %}{% endembed %}
				{% endfor %}
			</table>
			<h4>Prosentvis fordeling per sjanger</h4>
			<table class="table table-striped" style="max-width: 400px">
				{% embed "details_sjangerfordeling_tableheader.twig.html" %}{% endembed %}
				{% for ar, data in kommune.sjangerfordeling %}
					{% set onepercent = 100/data.total %}
					{% embed "details_sjangerfordeling_tablerowPercent.twig.html" %}{% endembed %}
				{% endfor %}

			</table>
		</div>

		<h3>Innslag</h3>
		<div class="well">
			<h4>Antall innslag per sjanger</h4>
			<table class="table table-striped" style="max-width: 400px">
				{% embed "details_sjangerfordeling_tableheader.twig.html" %}{% endembed %}
				{% for ar, data in kommune.sjangerfordeling_innslag %}
					{% embed "details_sjangerfordeling_tablerow.twig.html" %}{% endembed %}
				{% endfor %}
			</table>

			<h4>Prosentvis fordeling per sjanger</h4>
			<table class="table table-striped" style="max-width: 400px">
				{% embed "details_sjangerfordeling_tableheader.twig.html" %}{% endembed %}
				{% for ar, data in kommune.sjangerfordeling_innslag %}
					{% set onepercent = 100/data.total %}
					{% embed "details_sjangerfordeling_tablerowPercent.twig.html" %}{% endembed %}
				{% endfor %}
			</table>
	
			<div class="row pull-right">
				<a class="btn btn-sm btn-default" href="?page=UKMrapport_admin&stat=home&fylke={{stat_fylke}}&norge={{stat_norge}}">Tilbake til oversikt</a>
			</div>
	
		</div>
	</div>
	
	<div class="container col-xs-12">
		<div class="well">
			<script type="text/javascript">
			  google.load("visualization", "1", {packages:["corechart"]});
			  google.setOnLoadCallback(statistikk_details_sjangerfordeling_{{kommune.metadata.id}});
			
			  function statistikk_details_sjangerfordeling_{{kommune.metadata.id}}() {
			    var data = google.visualization.arrayToDataTable([
			      ['Sesong', 'Musikk', 'Dans', 'Teater', 'Litteratur', 'Annet på scenen', 'Film', 'Utstilling', 'Konferansier', 'Nettredaksjon', 'Arrangør', 'Sceneteknikk', 'Matkultur', 'Diverse'],
				{% for ar, data in kommune.sjangerfordeling %}
			      ['{{ar}}',{{data.Musikk*1}},{{data.Dans*1}},{{data.Teater*1}},{{data.Litteratur*1}},{{data.Annet_scene*1}},{{data.Film*1}},{{data.Utstilling*1}},{{data.Konferansier*1}},{{data.Nettredaksjon*1}},{{data.Arrangor*1}},{{data.Sceneteknikk*1}},{{data.Matkultur*1}},{{data.Diverse*1}}]{{loop.last?'':','}}
			      {% endfor %}
			    ]);
			
			    var options = {
			      title: 'Utvikling sjangerfordeling (personer)',
			      vAxis: {'minValue': 0},
			      pointSize: 5,
			    };
			
			    var chart = new google.visualization.LineChart(document.getElementById('statistikk_details_sjangerfordeling_{{kommune.metadata.id}}'));
			    chart.draw(data, options);

			    var id = "#sjangerfordeling_dlbtn_{{ kommune.metadata.id }}1";
			    //console.log('ID: '+id);
			    jQuery(id).attr('href', chart.getImageURI());
				jQuery(id).attr('download', options.title+'.png');
			  }
			</script>
			
			<div id="statistikk_details_sjangerfordeling_{{kommune.metadata.id}}" style="width: 100%; min-height: 700px;"></div>
		
		
			<script type="text/javascript">
			  google.load("visualization", "1", {packages:["corechart"]});
			  google.setOnLoadCallback(statistikk_details_sjangerfordeling_innslag_{{kommune.metadata.id}});
			
			  function statistikk_details_sjangerfordeling_innslag_{{kommune.metadata.id}}() {
			    var data = google.visualization.arrayToDataTable([
			      ['Sesong', 'Musikk', 'Dans', 'Teater', 'Litteratur', 'Annet på scenen', 'Film', 'Utstilling', 'Konferansier', 'Nettredaksjon', 'Arrangør', 'Sceneteknikk', 'Matkultur', 'Diverse'],
				{% for ar, data in kommune.sjangerfordeling_innslag %}
			      ['{{ar}}',{{data.Musikk*1}},{{data.Dans*1}},{{data.Teater*1}},{{data.Litteratur*1}},{{data.Annet_scene*1}},{{data.Film*1}},{{data.Utstilling*1}},{{data.Konferansier*1}},{{data.Nettredaksjon*1}},{{data.Arrangor*1}},{{data.Sceneteknikk*1}},{{data.Matkultur*1}},{{data.Diverse*1}}]{{loop.last?'':','}}
			      {% endfor %}
			    ]);
			
			    var options = {
			      title: 'Utvikling sjangerfordeling (innslag)',
			      vAxis: {'minValue': 0},
			      pointSize: 5,
			    };
			
			    var chart = new google.visualization.LineChart(document.getElementById('statistikk_details_sjangerfordeling_innslag_{{kommune.metadata.id}}'));
			    chart.draw(data, options);

			    var id = "#sjangerfordeling_dlbtn_{{ kommune.metadata.id }}2";
			    //console.log('ID: '+id);
			    jQuery(id).attr('href', chart.getImageURI());
				jQuery(id).attr('download', options.title+'.png');
			  }
			</script>
			
			<div id="statistikk_details_sjangerfordeling_innslag_{{kommune.metadata.id}}" style="width: 100%; min-height: 700px;"></div>
			<div class="row pull-right">
				<a id="sjangerfordeling_dlbtn_{{ kommune.metadata.id }}1" class="btn btn-sm btn-default" href="">Last ned graf 1</a>
				<a id="sjangerfordeling_dlbtn_{{ kommune.metadata.id }}2" class="btn btn-sm btn-default" href="">Last ned graf 2</a>
			</div>
		</div>
	</div>
{% endfor %}