{% if error is defined %} 
	<div class="alert alert-danger">
		<h4>{{error.header}}</h4>
		<p>{{error.message}}</p>
	</div>
{% else %}
	<h2>Statistikk for {{monstring.name}}</h2>
	{% if stat_type != home %}
		<a href="?page=UKMrapport_admin&stat=home&fylke=false">Tilbake til egen statistikk</a>
	{% endif %}
	{% embed "style.twig.html" %}{% endembed %}
	{% embed "script.twig.html" %}{% endembed %}
	{% embed "nav.twig.html" %}{% endembed %}
	
	{% for kommune in statistikk %}
		<div style="margin-right: 30px;">
		{% embed "separator.twig.html" %}{% endembed %}
		</div>
		<div class="statistikksenter" style="margin-right: 30px;">
			<div class="container col-xs-12">
				<div class="well">
					{% embed "deltakere.twig.html" %}{% endembed %}
					<div class="row pull-right">
						<a href="" id="deltakere_dlbtn_{{kommune.metadata.id}}" download="Deltakere.png" style="" class="btn btn-sm btn-default">Last ned graf</a>
						<a href="?page=UKMrapport_admin&stat=details_deltakere&fylke={{stat_fylke}}&norge={{stat_norge}}"class="btn btn-sm btn-default">Vis detaljer</a>
					</div>
				</div>
			</div>
			
			<div class="container col-xs-12 col-sm-8">
				<div class="well">
					{% embed "sjangerfordeling.twig.html" %}{% endembed %}
					<div class="row pull-right">
						<a href="" id="sjangerfordeling_dlbtn_{{kommune.metadata.id}}" download="Sjangerfordeling.png" style="" class="btn btn-sm btn-default">Last ned graf</a>
						<a href="?page=UKMrapport_admin&stat=details_sjangerfordeling&fylke={{stat_fylke}}&norge={{stat_norge}}" class="btn btn-sm btn-default">Vis detaljer / historisk utvikling</a>
					</div>
				</div>
			</div>
			<div class="container col-xs-12 col-sm-4">
				<div class="well">
					{% embed "kjonnsfordeling.twig.html" %}{% endembed %}
					<div class="row pull-right">
						<a href="" id="kjonnsfordeling_dlbtn_{{kommune.metadata.id}}" download="Kjønnsfordeling.png" style="" class="btn btn-sm btn-default">Last ned graf</a>
						<a href="?page=UKMrapport_admin&stat=details_kjonnsfordeling&fylke={{stat_fylke}}&norge={{stat_norge}}" class="btn btn-sm btn-default">Vis historisk utvikling</a>
					</div>
				</div>
			</div>
			
			{% if monstring.fylke.id != 3 %}
			<div class="container col-xs-12">
				<div class="well">
					{% embed "malgruppe.twig.html" %}{% endembed %}
					<div class="row pull-right">
						<a href="" id="malgruppe_dlbtn_{{kommune.metadata.id}}" download="Målgruppe.png" style="" class="btn btn-sm btn-default">Last ned graf</a>
						<a href="?page=UKMrapport_admin&stat=details_malgruppe&fylke={{stat_fylke}}&norge={{stat_norge}}"class="btn btn-sm btn-default">Vis detaljer</a>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="container col-xs-12 {% if stat_type != 'land' %}col-sm-8{% endif %}">
				<div class="well">
					{% embed "aldersfordeling.twig.html" %}{% endembed %}
					<div class="row pull-right">
						<a href="" id="alder_dlbtn_{{kommune.metadata.id}}" download="Aldersfordeling.png" style="" class="btn btn-sm btn-default">Last ned graf</a>
						<a href="?page=UKMrapport_admin&stat=details_aldersfordeling&fylke={{stat_fylke}}&norge={{stat_norge}}"class="btn btn-sm btn-default">Vis detaljer</a>
					</div>
				</div>	
			</div>
			{% if stat_type != 'land' %}
				<div class="container col-xs-12 col-sm-4">
					<div class="well">
						{% if stat_type == 'fylke' %}
							<h2>Nasjonal statistikk</h2>
							<p>I den nasjonale statistikk kan du se mer om hvordan {{monstring.fylke.name}} er i forhold til andre fylker</p>
							<p><a href="?page=UKMrapport_admin&stat=home&fylke={{stat_fylke}}&norge=true">Vis nasjonal statistikk</a></p>
						{% else %}
							<h2>Statistikk for {{monstring.fylke.name}}</h2>
							<p>I statistikken for {{monstring.fylke.name}} kan du se mer om hvordan din mønstring er i forhold til andre mønstringer i fylket</p>
							<p><a href="?page=UKMrapport_admin&stat=home&fylke={{monstring.fylke.id}}">Vis statistikk for {{monstring.fylke.name}}</a></p>
						{% endif %}
					</div>
				</div>
			{% endif %}
			
			{% if stat_type == 'fylke' or stat_type == 'land' %}
			<div class="container col-xs-12">
				<div class="well">
					{% embed "monstringer_stacked.twig.html" %}{% endembed %}
					<div class="row pull-right">
						<a href="" id="alle_monstringer_dlbtn" download="Alle Mønstringer.png" style="" class="btn btn-sm btn-default">Last ned graf</a>
						<a href="?page=UKMrapport_admin&stat=details_deltakere&home=home&fylke={{stat_fylke}}&norge={{stat_norge}}"class="btn btn-sm btn-default">Vis detaljer</a>
					</div>
				</div>	
			</div>

			{% endif %}
			{% if stat_type == 'land' %}
			<div class="container col-xs-12">
				<div class="well">
					{% embed "alle_fylker_i_ar.twig.html" %}{% endembed %}
					<div class="row pull-right">
						<a href="" id="graph_dlbtn_alle_fylker" download="Aldersfordeling.png" style="" class="btn btn-sm btn-default">Last ned graf</a>
						<a href="?page=UKMrapport_admin&stat=details_deltakere&home=home&fylke={{stat_fylke}}&norge={{stat_norge}}"class="btn btn-sm btn-default">Vis detaljer</a>
					</div>
				</div>	
			</div>
			{% endif %}

		</div>
		<div class="clearfix pagebreak"></div>
	{% endfor %}
{% endif %}