<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(statistikk_malgruppe_{{kommune.metadata.id}});

  function statistikk_malgruppe_{{kommune.metadata.id}}() {
    var data = google.visualization.arrayToDataTable([
      ['Mønstring', {% for gruppe,antall in kommune.malgruppe|first %} '{{gruppe}}'{{loop.last?'':','}} {% endfor %}],
      {% for ar, data in kommune.malgruppe %}
	      ['{{ar}}', {% for gruppe, antall in data %} {{antall|replace(',','.')}}{{loop.last?'':','}} {% endfor %}]{{loop.last?'':','}}
      {% endfor %}
    ]);

    var options = {
      title: 'Antall deltakere i forhold til målgruppe (ungdom i {{stat_type=='fylke' ? 'fylket' : 'kommunen'}}, i alderen 10-20 år), sammenlignet med andre.',
      vAxis: {'minValue': 0},
      pointSize: 5
    };

    var chart = new google.visualization.LineChart(document.getElementById('statistikk_malgruppe_{{kommune.metadata.id}}'));
    chart.draw(data, options);
  }
</script>

<div id="statistikk_malgruppe_{{kommune.metadata.id}}" style="width: 100%; min-height: 300px;"></div>