<div class="container-fluid" id="reportLoader" style="display:none;" data-id="{{rapport.getId()}}">
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>
                Tilpass rapporten
                <small>eller</small>
                <button type="button" class="btn btn-default btn-sm showTemplateLoader">Åpne mal</button>
            </h2>
        </div>
    </div>

    <div id="reportCustomizer" style="display:none;">
        {% include "reportCustomizations.html.twig" %}
    </div>

    <div id="templateLoader" style="display:none;">
        {% include "templateLoader.html.twig" %}
    </div>
</div>

<div class="container-fluid" id="reportContainer" style="display:none;">
    <button type="button" class="btn btn-default btn-sm showTemplateLoader">Åpne mal</button>
    <button type="button" class="btn btn-default btn-sm showCustomizer">Vis/endre tilpasninger</button>
    <h2>Vennligst vent, genererer rapporten...</h2>
</div>