<script type="text/javascript">
jQuery(document).ready(function () {
    jQuery(window).resize(function(){
		{% for kommune in statistikk %}

			if (typeof statistikk_deltakere_{{kommune.metadata.id}} == 'function')
			statistikk_deltakere_{{kommune.metadata.id}}();

			if (typeof statistikk_sjangerfordeling_{{kommune.metadata.id}} == 'function')
			statistikk_sjangerfordeling_{{kommune.metadata.id}}();

			if (typeof statistikk_kjonnsfordeling_{{kommune.metadata.id}} == 'function')
			statistikk_kjonnsfordeling_{{kommune.metadata.id}}();

			if (typeof statistikk_details_kjonnsfordeling_{{kommune.metadata.id}} == 'function')
			statistikk_details_kjonnsfordeling_{{kommune.metadata.id}}();

			if (typeof statistikk_malgruppe_{{kommune.metadata.id}} == 'function')
			statistikk_malgruppe_{{kommune.metadata.id}}();

			if (typeof statistikk_aldersfordeling_{{kommune.metadata.id}} == 'function')
			statistikk_aldersfordeling_{{kommune.metadata.id}}();

			if (typeof statistikk_details_sjangerfordeling_{{kommune.metadata.id}} == 'function')
				statistikk_details_sjangerfordeling_{{kommune.metadata.id}}();

			if (typeof statistikk_details_sjangerfordeling_innslag_{{kommune.metadata.id}} == 'function')
				statistikk_details_sjangerfordeling_innslag_{{kommune.metadata.id}}();
				
			if (typeof statistikk_monstringer == 'function' )
				statistikk_monstringer();
		{% endfor %}
		
		{% if stat_type == 'fylke' %}
			{% for kommune in statistikk_detaljert %}
				if (typeof statistikk_deltakere_{{kommune.metadata.id}} == 'function')
					statistikk_deltakere_{{kommune.metadata.id}}();
			{% endfor %}
		{% endif %}

    });
});
</script>