<h1>Rapporter</h1>
<p>
    Her vil du snart finne et rapport-senter som gir deg oversikt over alt på arrangementet.
    Typisk er dette lister over påmeldte, lister for inn- og utsjekk av kunst, kontaktinformasjon,
    statistikk, osv.
</p>

<p>
    Rapport-funksjonen fases gradvis inn i løpet av høsten
</p>