{% for fylke in fylker %}
	<div style="page-break-before:always;"></div>
	<h1 style="margin-top:100px">Fylkestimeplan for {{fylke.navn}}</h1>
	<div class="UKMwidth">
	
	{% set current_day = '' %}
	{% for hendelse in fylke.hendelser %}
		{% if current_day != hendelse.info.dag %}
			<h2 align="center">{{hendelse.info.timestamp|dato('l d.m')}}</h2>
			{% set current_day = hendelse.info.dag %}
		{% endif %}
		<h3>{{hendelse.info.navn}} <small>{{hendelse.info.sted}} {{hendelse.info.starter}}</small></h3>
			<table class="table table-striped">
			{% for rekkefolge,innslag in hendelse.innslag %}
				<tr>
					<th colspan="2">{{innslag.navn}} <small>(nr. {{rekkefolge}})</small></th>
					<th></th>
					<th>Oppmøte: {{innslag.oppmote|dato('l H:i')}}</th>
				</tr>
				{% for person in innslag.personer %}
				<tr>
					<td width="50"></td>
					<td>{{person.navn}}</td>
					<td width="100">{{person.mobil}}</td>
					<td width="300"></td>
				</tr>
				{% endfor %}
			{% endfor %}
		</table>
	{% endfor %}
	</div>
{% endfor %}