<div class="row">
    <div class="col-12 col-sm-12">
        {% if renderData.harGrupper() %}
            {% for gruppe in renderData.getGrupper() %}
                {% if gruppe.visOverskrift() %}
                    <h2>{{gruppe.getOverskrift()}}</h2>
                {% endif %}

                {% if gruppe.harInnslag() %}
                    {% include "AlleInnslag/innslag-liste.html.twig" with {innslag: gruppe.getInnslag() } %}
                {% elseif gruppe.harGrupper() %}
                    {% for undergruppe in gruppe.getGrupper() %}
                        {% if undergruppe.visOverskrift() %}
                            <h3>{{ undergruppe.getOverskrift() }}</h3>
                        {% endif %}
                        {% if undergruppe.harInnslag() %}
                            {% include "AlleInnslag/innslag-liste.html.twig" with {innslag: undergruppe.getInnslag() } %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% else %}
            HAR IKKE GRUPPER
            {% if renderData.harInnslag() %}
                {% include "AlleInnslag/innslag-liste.html.twig" with {innslag: renderData.getInnslag() } %}
            {% endif %}
        {% endif %}
    </div>
</div>
