<div class="row">
	<div class="col-12 col-sm-6 col-md-4">
		{% include "AlleInnslag/Tilpass/innslag.html.twig" %}
	</div>

	<div class="col-12 col-sm-6 col-md-4">
		{% include "AlleInnslag/Tilpass/deltakere.html.twig" %}
	</div>

	<div class="col-12 col-sm-6 col-md-4">
		{% include "AlleInnslag/Tilpass/titler.html.twig" %}
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-6 col-md-4">
		{% include "AlleInnslag/Tilpass/kontaktperson.html.twig" %}
	</div>

	<div class="col-12 col-sm-6 col-md-4">
		{% embed "toggle.html.twig" with {id: 'vis_nokkeltall', title: 'Vis nøkkeltall?', start: 'no' } %}
			{% block yes %}
				{% include "checkbox.html.twig" with {id: 'nokkeltall_arrangement', title: 'For arrangementet'} %}
				{% include "checkbox.html.twig" with {id: 'nokkeltall_gruppe', title: 'For hver gruppe'} %}
			{% endblock %}
		{% endembed %}
	</div>
</div>

<div class="row mt-5">
	<div class="col-xs-12">
		{% embed "preview/list.html.twig" with {id: 'grupper', title: 'Hvordan skal det sorteres?' } %}
			{% block options %}
				{% include "preview/option.html.twig" with {id: 'grupper', val: 'alfabetisk', title: 'Alfabetisk sortert', selected:true} %}
				{% include "preview/option.html.twig" with {id: 'grupper', val: 'type', title: 'Gruppert etter type innslag', desc: 'Deretter sortert alfabetisk'} %}
				{% include "preview/option.html.twig" with {id: 'grupper', val: 'type_kommune', title: 'Gruppert etter type innslag og kommune', desc: 'Grupperes først i typer innslag, og deretter per kommune, før innslagene vises alfabetisk sortert'} %}
				{% include "preview/option.html.twig" with {id: 'grupper', val: 'kommune', title: 'Gruppert etter kommune', desc: 'Grupperes per kommune, før innslagene vises alfabetisk sortert'} %}
				{% include "preview/option.html.twig" with {id: 'grupper', val: 'kommune_type', title: 'Gruppert etter kommune og type innslag', desc: 'Grupperes per kommune, før innslagene vises alfabetisk sortert'} %}
				{% include "preview/option.html.twig" with {id: 'grupper', val: 'fylke_type', title: 'Gruppert etter fylke og type innslag', desc: 'Grupperes per fylke, før innslagene vises alfabetisk sortert'} %}
			{% endblock %}

			{% block previews %}
				{% embed "preview/preview.html.twig" with {id: 'alfabetisk'} %}
					{% block content %}
						Innslag A<br/>
						Innslag B<br/>
						Innslag C<br/>
						Innslag D<br/>
						Innslag E<br/>
						Innslag F
					{% endblock %}
				{% endembed %}

				{% embed "preview/preview.html.twig" with {id: 'type'} %}
					{% block content %}
						<h4>Media</h4>
						Innslag C<br/>
						Innslag D<br/>
						Innslag E
						<h4>Musikk</h4>
						Innslag A<br/>
						Innslag B<br/>
						Innslag F
					{% endblock %}
				{% endembed %}

				{% embed "preview/preview.html.twig" with {id: 'type_kommune'} %}
					{% block content %}
						<h4>Media</h4>
						<h5>Kommune X</h5>
						Innslag C<br/>
						Innslag D
						<h5>Kommune Y</h5>
						Innslag E
						<h4>Musikk</h4>
						<h5>Kommune X</h5>
						Innslag B
						<h5>Kommune Y</h5>
						Innslag A<br/>
						Innslag F
					{% endblock %}
				{% endembed %}

				{% embed "preview/preview.html.twig" with {id: 'kommune'} %}
					{% block content %}
						<h4>Kommune Y</h4>
						Innslag A<br/>
						Innslag E<br/>
						Innslag F
						<h4>Kommune X</h4>
						Innslag B<br/>
						Innslag C<br/>
						Innslag D
					{% endblock %}
				{% endembed %}

				{% embed "preview/preview.html.twig" with {id: 'kommune_type'} %}
					{% block content %}
						<h4>Kommune Y</h4>
						<h5>Media</h5>
						Innslag E
						<h5>Musikk</h5>
						Innslag A<br/>
						Innslag F
						<h4>Kommune X</h4>
						<h5>Media</h5>
						Innslag C<br/>
						Innslag D<br/>
						<h5>Musikk</h5>
						Innslag B
					{% endblock %}
				{% endembed %}

				{% embed "preview/preview.html.twig" with {id: 'fylke_type'} %}
					{% block content %}
						<h4>Fylke F1</h4>
						<h5>Media</h5>
						Innslag E
						<h5>Musikk</h5>
						Innslag A<br/>
						Innslag F
						<h4>Fylke F2</h4>
						<h5>Media</h5>
						Innslag C<br/>
						Innslag D<br/>
						<h5>Musikk</h5>
						Innslag B
					{% endblock %}
				{% endembed %}

			{% endblock %}
		{% endembed %}
	</div>
</div>
