{% if innslag.getPersoner().getAntall() == 0 %}
    <p class="text-danger {{ config.get('deltakere_visning') == 'tabell' ? 'rapport-padding-fix' }}">
        OBS: Ingen personer fra "{{ innslag.getNavn() }}" er påmeldt dette arrangementet
    </p>
{% elseif config.get('deltakere_visning') == 'kompakt' %}
    {% for person in innslag.getPersoner().getAll() %}{% include "Components/Innslag/Personer/kompakt.html.twig" with {person: person } %}{% endfor %}{% if config.show('kontaktperson') %}, {% include "Components/Innslag/Personer/kompakt.html.twig" with {person: innslag.getKontaktperson(), kontaktperson: true } %}{% endif %}
{% else %}
    <table class="table table-borderless table-condensed" style="max-width: 45em;">
        {% if config.show('kontaktperson') %}
            {% include "Components/Innslag/Personer/rad.html.twig" with {person: innslag.getKontaktperson(), kontaktperson: true } %}
        {% endif %}
        {% for person in innslag.getPersoner().getAll() %}
            {% include "Components/Innslag/Personer/rad.html.twig" with {person: person } %}
        {% endfor %}
    </table>
{% endif %}