<h1>Deltakerovernatting - kontaktlister ledere</h1>
<p class="lead">Fylkesvis oversikt over hvilke ledere som befinner seg i deltakerovernattingen per natt</p>
<p>Når festivalen er nært og alle lederskjema fra videresendingen er komplettert kan denne skrives ut og gis til vaktene</p>
<a href="{{excel_deltakerovernatting}}" class="btn btn-success">Last ned excel-ark</a>
