<img src="//ico.ukm.no/qr-128.png" width="150" class="pull-right float-right" style="margin: 1.4em;" />
<h1>QR-koder</h1>

<p class="lead">Her kan du laste ned QR-koder for alle dine innslag. Kodene sender brukeren rett til innslagssiden for mer info om innslaget.</p>

{% if error %}
	<p>Før du kan generere QR-koder må du ha påmeldte innslag</p>
{% else %}
	<h3>Last ned alfabetisk sortert pakke</h3>
	<a href="{{ zip_alfabetisk.url }}" target="_blank">{{ zip_alfabetisk.navn }}</a>
	
	<h3>Last ned forestillingspakker</h3>
	
	<ol class="list-unstyled">
		{% for zip in zipfiles %}
			<li>
				<a href="{{ zip.url }}" target="_blank">{{ zip.navn }}</a>
			</li>
		{% else %}
			<li>
				Du må sette opp program og ha påmeldte før du kan laste ned QR-koder for forestillinger/hendelser
			</li>
		{% endfor %}
	</ol>
{% endif %}