<h1>Reise til og fra festivalen</h1>

<p class="lead">Når ankommer og reiser fylkene?</p>
<p>Excel-filen inneholder 2 ark, ett for ankomst og ett for avreise. Informasjonen kommer fra videresendingsskjemaet, og blir oppdatert hver gang du laster inn denne siden.</p>
<p>
	<a href="{{excel_reise}}" class="btn btn-success">Last ned som excel-fil</a>
</p>