<h1>Last ned excel-ark for bruk med Sveve</h1>

<p>
	Last ned alle <a href="{{zip}}" target="_blank">som vCard-fil for kontakt-sync</a>
</p>

<ol class="list-unstyled">

	{% for exp in excel %}
		<li>
			<a href="{{exp.url}}">{{exp.name}}</a>
		</li>
	{% endfor %}
</ol>