<h1>Allergier og tilrettelegging</h1>

<p>Excel-filen inneholder 2 ark, ett for mat-relaterte tilpasninger, og ett for øvrige. Informasjonen kommer fra videresendingsskjemaet, og blir oppdatert hver gang du laster inn denne siden.</p>
<p>
	<a href="{{excel_tilpasninger}}" class="btn btn-success">Last ned som excel-fil</a>
</p>