<h1>Behov for tilrettelegging</h1>

<p>Informasjonen kommer fra videresendingsskjemaet, og blir oppdatert hver gang du laster inn denne siden.</p>
<p>
	<a href="{{excel_tilpasninger}}" class="btn btn-success">Last ned som excel-fil</a>
</p>