<div class="col-12 col-sm-6 col-md-4">
	<ol class="list-group">
		<li class="list-group-item list-group-title">
			<h4>Velg sesong</h4>
		</li>

        {% for sesong in 2019..now|date('Y') %}
		    {% include "radio.html.twig" with {id: 'sesong', value: sesong, title: sesong} %}
        {% endfor %}
	</ol>
</div>

<div class="col-12 col-sm-6 col-md-4">
	{% include "options.html.twig" with {id: 'arrangement_type', title: 'Velg visning:', start: 'festival', options: [{id: 'festival', title: 'Festival'},{id: 'workshop', title: 'Workshop (kurs)'}]} %}
</div>