<div class="col-12 col-sm-6 col-md-4">
	<ol class="list-group">
		<li class="list-group-item list-group-title">
			<h4>Velg fylke</h4>
		</li>
		{% include "checkbox.html.twig" with {id: 'fylke_alle' , title: 'Alle'} %}

        {# Alle fylker #}
        {% for fylke in alleFylker %}
			{% include "checkbox.html.twig" with {id: 'fylke_'~ fylke.getId() , title: fylke.getNavn()} %}
        {% endfor %}
		<li class="list-group-item list-group-title">
			<h4>Deltakere</h4>
		</li>
		{% include "checkbox.html.twig" with {id: 'deltakere_tel', title: 'Mobil'} %}
	</ol>

</div>
