<div class="col-12 col-sm-6 col-md-4">
	<ol class="list-group">
		<li class="list-group-item list-group-title">
			<h4>Velg dag</h4>
		</li>
		{% include "checkbox.html.twig" with {id: 'dager_alle' , title: 'Alle'} %}

        {# Alle dager #}
        {% for key, dag in dager|sort((a, b) => a|date('U') <=> b|date('U') ) %}
			{% include "checkbox.html.twig" with {id: key|dato('d.m.Y') , title: key|dato('l (d.m.Y)')|capitalize } %}
        {% endfor %}
	</ol>
</div>
